
body {
    font-family: courier, monospace;
    color: black;
    background-color: black
}
.hidden{
    color: transparent;
}

.information {
    z-index: 10;
    color: lawngreen;
    position: absolute;
    top: 200px;
    padding-left: 10px;
}

.header :hover {
    color: #ffbf00;
}

a {
    color: lawngreen;
}

.information a:hover {
    color: #ffbf00;
}

.header {
    position: absolute;
    top: 0;
    left: 44%;
    font-size: 25px;
    color: lawngreen;
    text-align: center;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 42.5%;
    font-size: 25px;
    color: lawngreen;
    text-align: center;
}

.content {
    margin-top: 50px
}

canvas {
    display: block;
    height: 70%;
}

html { overflow-y: hidden; }